.homePage{
  border:2px solid black;
  padding:0.75rem;
  margin:2rem;
  min-height: 70vh;
  

}
.mainContainer{
  display: grid;
  grid-template-columns: 2fr 8fr;
  padding:0.75rem;
  margin:2rem;
  gap:4rem
}

.leftSection{
  display: flex;
  flex-direction: column;
  border:2px solid black;
}

.paragraph1{
  color:#9775fa;
  font-size: 4em;
}

.paragraph2{
  color:#f08c00;
  font-size: 2em;
}