.searchAndFilter{
  margin:0.75rem;
  padding:0.75rem;
  display:flex; 
  box-shadow: 0px 0px 2px 2px #c0bcbc;
  border-radius: 4px;
  justify-content: space-around;
  align-items: center;
  width:70%;
  justify-self: center;
}