.header {
  display: flex;
  gap: 4rem;
  justify-content: space-between;
  border: 2px solid black;
  align-items: center;
  padding: 0.5rem;
  margin: 2rem;
}

.logoImage {
  height: 5%;
  width: 5%;
  border: 8px solid #ffec99;
  border-radius: 100%;
}

.navbar {
  display: flex;
  justify-content: center;
  align-items: center;

}

.list {
  display: flex;
  gap: 2rem;
  list-style: none;
}
.contactButton{
  background-color: #ffec99;
}