.loginPage{
  border:2px solid black;
  padding:0.75rem;
  margin:2rem;
  min-height: 90vh;
 

}


.loginContainer {
  display: flex;
  background-color: #f8f1ee;
  padding: 0.75rem;
  border: 2px solid black;
  border-radius: 16px;
  min-height: 55vh;
  width:70%;
  
 justify-self: center;
 align-self: center;
}

.loginForm {
  
  display: flex;
  flex-direction: column;
  align-items: center;
 justify-self: center;
 align-self: center;
  gap: 1rem;
  padding:0.75rem;
  
  border:2px solid #f08c00;
  border-radius: 16px;
  width:50%;
}


.loginButton{
  background-color:#f08c00;
  cursor:pointer;
}
.loginButton:hover{
  background-color: antiquewhite;

}
.errorMsg{
  color:red;
}